.background-img {
  width: 84.4vw;
  background-image: url(../img/article2.jpg);
  background-size: cover;
}
.post-head {
  height: 200px;
  text-align: center;
}
.post-head h1 {
  padding-top: 80px;
  font-size: 50px;
  color: rgb(18, 65, 61);
}
.post-bottom-padding {
  height: 30px;
}
.blog-content {
  width: 90%;
  padding: 0 30px 30px 30px;
  display: flex;
  background-color: #ffffff60;
  backdrop-filter: blur(12px);
  color: var(--text-color-dark);
  border-radius: 10px;
}
.blog-content-left {
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-content-left h2 {
  margin: 20px;
}
.blog-content-left p {
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
}
.blog-content-right {
  flex-direction: column;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-content-right img {
  height: 250px;
  margin-top: 50px;
  border: 0;
  border-radius: 20px;
}
.home-articles {
  margin-top: 3px;
  background-image: url(../img/work7.jpg);
  background-size: cover;
}
.home-articles h2 {
  margin: 30px;
}
.row {
  background-color: #ffffff50;
  backdrop-filter: blur(12px);
  display: flex;
  border-radius: 20px;
  padding: 30px 0 0 0;
  margin-bottom: 30px;
}
.related-article {
  flex-direction: column;
  align-items: center;
}
