.content {
  padding: 30px;
  display: flex;
  height: 423px;
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
}
.content-right img {
  height: 300px;
  padding: 0;
  border: 0;
  border-radius: 5%;
}
.content-left h1 {
  margin: 20px;
}
