* {
  margin: 0;
  padding: 0;
}
.navigation {
  padding: 0 30px;
  background-color: var(--main-color-dark);
  color: var(--text-color-light);
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  font-size: 20px;
}
.nav-left span {
  font-size: 35px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 50px;
}
.nav-left ul li {
  list-style: none;
  padding: 0 14px;
}
.nav-left ul li a {
  text-decoration: none;
  color: var(--text-color-light);
}
.nav-left ul li a:hover {
  color: var(--main-color-light);
}
.content {
  padding: 30px;
  display: flex;
  height: 350px;
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
}
.content-left {
  width: 60%;
  padding: 50x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-left h1 {
  margin: 30px;
}
.content-left p {
  text-align: center;
  line-height: 25px;
  font-size: large;
}
.content-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
}
.home-articles {
  color: var(--text-color-dark);
  padding: 15px 30px;
  background-color: var(--main-color-light);
}
.home-article {
  margin: 20px;
  display: flex;
}
.home-article-img img {
  width: 250px;
}
.home-article-content {
  align-self: center;
  padding: 25px;
}
.footer {
  height: 60px;
  padding: 0 30px;
  background-color: var(--main-color-dark);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
