.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.btn {
  padding: 5px 10px;
  margin: 0;
  border: 1px solid rgb(70, 67, 67);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  color: aliceblue;
  background-color: rgb(53, 103, 196);
}
.form-input {
  padding: 5px 7px;
  margin: 0 -5px;
  border: 1px solid rgb(70, 67, 67);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
