:root {
  --main-color-dark: rgb(29, 42, 66);
  --main-color-light: rgb(199, 241, 241);
  --text-color-light: aliceblue;
  --text-color-dark: rgb(59, 57, 57);
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.nav-btn {
  color: var(--text-color-dark);
  padding: 5px 10px;
  margin: 0;
  border: 1px solid rgb(70, 67, 67);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.nav-btn:hover {
  background-color: var(--main-color-light);
}
.nav-form-input {
  padding: 5px 7px;
  margin: 0 -5px;
  border: 1px solid rgb(70, 67, 67);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.form-box {
  margin: 15px;
}
.form-box input {
  width: 450px;
  padding: 10px 10px;
  margin: 0 -5px;
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid rgb(146, 142, 142);
}
.contact-btn {
  width: 450px;
  color: var(--text-color-light);
  background-color: var(--main-color-dark);
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 7px;
  border: 1px solid rgb(146, 142, 142);
}
.contact-btn:hover {
  background-color: rgb(52, 187, 52);
  color: var(--main-color-light);
}
.contact-textbox {
  width: 450px;
  padding: 6px 10px;
  margin: 0 -5px;
  font-size: 15px;
  border-radius: 7px;
  border: 1px solid rgb(146, 142, 142);
}
